@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-Noto: 'Noto Serif', sans-serif;
    --font-Inter: 'Inter', monospace;
    --font-Jet: 'JetBrains Mono', monospace;
}
body {
   font-family: var(--font-Noto);
   background-color: #0e131d;
}